In [1]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.5.1'
spark_version = 'spark-3.5.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:2 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:3 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:9 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:10 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ Packages [50.4 kB]
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:12 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,520 kB]
Get:13 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,074 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,346 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,801 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,932 kB]
Fetched 7,957 kB in 5s (1,644 kB/s)
Reading package lists... Done

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [3]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get('home_sales_revised.csv'), sep=",", header=True)
df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [4]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('homes')

In [5]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
four_bed_home = spark.sql("SELECT ROUND(AVG(price),2), YEAR(date) FROM homes WHERE bedrooms == 4 GROUP BY YEAR(date)"
)
four_bed_home.show()

+--------------------+----------+
|round(avg(price), 2)|year(date)|
+--------------------+----------+
|           296363.88|      2022|
|            300263.7|      2019|
|           298353.78|      2020|
|           301819.44|      2021|
+--------------------+----------+

In [6]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
three_bed_home = spark.sql(
    "SELECT ROUND(AVG(price),2), YEAR(date_built) FROM homes WHERE bedrooms == 3 AND bathrooms == 3 GROUP BY YEAR(date_built) ORDER BY YEAR(date_built)")
three_bed_home.show()

+--------------------+----------------+
|round(avg(price), 2)|year(date_built)|
+--------------------+----------------+
|           292859.62|            2010|
|           291117.47|            2011|
|           293683.19|            2012|
|           295962.27|            2013|
|           290852.27|            2014|
|            288770.3|            2015|
|           290555.07|            2016|
|           292676.79|            2017|
+--------------------+----------------+

In [7]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?

two_floors = spark.sql(
    "SELECT ROUND(AVG(price),2), YEAR(date_built) FROM homes WHERE bedrooms == 3 AND bathrooms == 3 AND floors == 2 AND sqft_living >= 2000 GROUP BY YEAR(date_built) ORDER BY YEAR(date_built)"
)
two_floors.show()

+--------------------+----------------+
|round(avg(price), 2)|year(date_built)|
+--------------------+----------------+
|           285010.22|            2010|
|           276553.81|            2011|
|           307539.97|            2012|
|           303676.79|            2013|
|           298264.72|            2014|
|           297609.97|            2015|
|            293965.1|            2016|
|           280317.58|            2017|
+--------------------+----------------+

In [8]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()

view_rtg = spark.sql("SELECT view, ROUND(AVG(price),2) FROM homes GROUP BY view HAVING ROUND(AVG(price),2) >= 350000 ORDER BY view"
)
view_rtg.show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+--------------------+
|view|round(avg(price), 2)|
+----+--------------------+
| 100|           1026669.5|
|  51|           788128.21|
|  52|           733780.26|
|  53|            755214.8|
|  54|           798684.82|
|  55|           771153.32|
|  56|            718176.4|
|  57|            734340.5|
|  58|           759764.65|
|  59|            791453.0|
|  60|           754939.65|
|  61|           746877.59|
|  62|           759150.14|
|  63|           711614.55|
|  64|           767036.67|
|  65|           736679.93|
|  66|            712475.0|
|  67|           737970.96|
|  68|           716785.44|
|  69|           750537.94|
+----+--------------------+
only showing top 20 rows

--- 1.2705602645874023 seconds ---

In [9]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table homes")

DataFrame[]

In [10]:
# 8. Check if the table is cached.
spark.catalog.isCached('homes')

True

In [11]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()

view_rtg = spark.sql("SELECT view, ROUND(AVG(price),2) FROM homes GROUP BY view HAVING ROUND(AVG(price),2) >= 350000 ORDER BY view"
)
view_rtg.show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+--------------------+
|view|round(avg(price), 2)|
+----+--------------------+
| 100|           1026669.5|
|  51|           788128.21|
|  52|           733780.26|
|  53|            755214.8|
|  54|           798684.82|
|  55|           771153.32|
|  56|            718176.4|
|  57|            734340.5|
|  58|           759764.65|
|  59|            791453.0|
|  60|           754939.65|
|  61|           746877.59|
|  62|           759150.14|
|  63|           711614.55|
|  64|           767036.67|
|  65|           736679.93|
|  66|            712475.0|
|  67|           737970.96|
|  68|           716785.44|
|  69|           750537.94|
+----+--------------------+
only showing top 20 rows

--- 0.6619937419891357 seconds ---

In [12]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
df.write.parquet("homes_parquet", mode="overwrite")

In [13]:
# 11. Read the parquet formatted data.
parquet_df = spark.read.parquet("homes_parquet")

In [14]:
# 12. Create a temporary table for the parquet data.
parquet_df.createOrReplaceTempView("temp_parquet")

In [15]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()

parquet_view_rtg = spark.sql("SELECT view, ROUND(AVG(price),2) FROM temp_parquet GROUP BY view HAVING ROUND(AVG(price),2) >= 350000 ORDER BY view"
)
parquet_view_rtg.show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+--------------------+
|view|round(avg(price), 2)|
+----+--------------------+
| 100|           1026669.5|
|  51|           788128.21|
|  52|           733780.26|
|  53|            755214.8|
|  54|           798684.82|
|  55|           771153.32|
|  56|            718176.4|
|  57|            734340.5|
|  58|           759764.65|
|  59|            791453.0|
|  60|           754939.65|
|  61|           746877.59|
|  62|           759150.14|
|  63|           711614.55|
|  64|           767036.67|
|  65|           736679.93|
|  66|            712475.0|
|  67|           737970.96|
|  68|           716785.44|
|  69|           750537.94|
+----+--------------------+
only showing top 20 rows

--- 1.5592889785766602 seconds ---

In [16]:
# 14. Uncache the homes temporary table.
spark.sql("uncache table homes")

DataFrame[]

In [17]:
# 15. Check if the homess is no longer cached
spark.catalog.isCached("homes")

False